.toolbar-header-first {
    padding-top: 30px;
}



.ion-card-img {

    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;

    img {
        max-width: 200px;
    }
}

.ion-card-infoPoke {
    color: #000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 40px;
    }
    p {
        font-size: 20px;
    }
}

.ion-btn-back {
    padding-bottom: 104px;

    .ion-btn-trash {
        background-color: pink;

       
    }
}