<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-header-first" color="primary">
    <ion-title>Detalhes do Pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-card-img">
      @if ( pokemon.sprites.front_default !== null) {
        <img src="{{ pokemon.sprites.front_default }}">
      } @else {
        <h1>Sem imagem de Perfil</h1>>
      }
  </ion-card>
    
    <ion-card class="ion-card-threeImages">

      @if ( pokemon.sprites.back_default !== null) {
        <img src="{{ pokemon.sprites.back_default }} ">
      }
 
      @if ( typeof(pokemon.sprites.front_shiny) !== null) {
        <img src="{{ pokemon.sprites.front_shiny }} ">
      }
      
      @if ( pokemon.sprites.back_shiny !== null ) {
        <img src="{{ pokemon.sprites.back_shiny }} ">
      }

    </ion-card>

  <ion-card class="ion-card-infoPoke">
    <h2> {{ id }}</h2>

    <div>
    
        <p><b>Habilidades:</b> {{ arrayAbilities }}</p>
        <p><b>Experiência Base:</b> {{ pokemon.base_experience }}</p>
        <p><b>Pontos de Vida:</b> {{ pokemon.stats[0].base_stat }}</p>
        <p><b>Pontos de Ataque:</b> {{ pokemon.stats[1].base_stat }}</p>
        <p><b>Pontos de Defesa:</b> {{ pokemon.stats[2].base_stat }}</p>
        <p><b>Pontos de Velocidade:</b> {{ pokemon.stats[5].base_stat }}</p>
    </div>
  </ion-card>

  <div class="ion-btn-back">
    <ion-button [routerLink]="['/']">
        Voltar para Home
    </ion-button>

    
    @if (isFavorite(pokemon.id) === false) {
      <ion-button (click)="addFavoritePokemon(pokemon.id)">
        <ion-icon name="star" size="small"></ion-icon>
      </ion-button>
    }


    @if (isFavorite(pokemon.id) === true){
      <ion-button class="ion-btn-trash" (click)="removeFavoritePokemon(pokemon.id)">
        <ion-icon name="trash" size="small"></ion-icon>
      </ion-button>
    }
  


  </div>
  

</ion-content>
