ion-item {
  font-size: 25px;
}
.btn-detalhes {
  font-size: 15px;
}

.ion-toolbar-header {
  padding-top: 30px;

  ion-button {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}


.nextAndPreviusHome {
  display: flex;
  justify-content: center;
  gap: 1rem;
}