<ion-header [translucent]="true">
  <ion-toolbar class="ion-toolbar-header">
    <ion-title>
      PokemonApi
    </ion-title>

    <ion-button [routerLink]="['favoritos']">
      Favoritos
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h2 class="ion-padding-start">Pokemons Disponíveis: {{ countPokemons }} </h2>

  <ion-list>
    
    @for( poke of pokemons; track poke) {
      <ion-item>
        <ion-grid> 
          {{ poke.name }} 
        </ion-grid>


        <ion-button
          class="ion-padding" 
          [routerLink]="['detalhes/', poke.name]"
        >
          Detalhes
        </ion-button>
      </ion-item>
    }
    
  </ion-list>

  <div class="nextAndPreviusHome">


    
    @if (initialRequestPokemons.previous) {
      <ion-button (click)="previusPagePokemon(initialRequestPokemons.previous)">
        Anterior
      </ion-button>
    }
    
    <p> {{ initialPagesPokemon + ' / ' + totalPagesPokemon }} </p>
    
    @if (initialRequestPokemons.next) {
      <ion-button (click)="nextPagePokemon(initialRequestPokemons.next)">
        Próxima
      </ion-button>
    }
  
    
  </div>

</ion-content>
